<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
  <link href="css/style.css" rel="stylesheet">

  <style>
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
  </style>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
  </style>
  <link rel="icon" type="imagem/png" href="./css/img/C2P-Logo-PNG.png" />
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;500&family=Roboto:wght@500&display=swap');
  </style>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>


  <link rel="stylesheet" type="text/css" href="css/slick.css" />

  <link rel="stylesheet" type="text/css" href="css/slick-theme.css" />

  <title>C2P Project</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">



</head>

<body>
  <!-- ===============================================INCIO NAV ===================================== -->
  <nav>
    <div class="col-sm-12" style="padding-right: 0px;">
      <a style="width: 100%;" href="../Home/index.html"><img id="LogoC2p" src="./css/img/C2P-Logo-PNG.png"
          class="img-fluid col-sm-2" alt="Logo da C2P project" height="220px" width="220px"></a>
      <img id="lineOrange" src="./css/img/Line 3.png" class="img-fluid" alt="...">
      <ul class="nav justify-content-end col-sm-11">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../SobreNos/index.html">Quem somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../CasesSucesso/index.html">Cases de sucesso</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../solucao/index.html">Soluções</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../FaleConosco/index.html">Fale Conosco</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- ===============================================FIM NAV ===================================== -->


  <!-- ===============================================INICIO LINHAS DECORATIVAS ===================================== -->

  <img src="./css/img/linhafina.png" style="position: absolute; margin-top: 2em;" class="img-fluid" alt="...">
  <img src="./css/img/linhafina.png" style=" margin-top: 3em; float: right; width: 14vw; " class="img-fluid" alt="...">
  <img src="./css/img/linhafina.png" style="position: absolute; margin-left: 5em; margin-top: 3.6em; width: 10vw;"
    class="img-fluid" alt="...">
  <img src="./css/img/linhafina.png" style="position: absolute; margin-top: 7em; width: 30vw;" class="img-fluid"
    alt="...">
  <img src="./css/img/linhafina.png" style=" margin-top: 8em; float: right; width: 18vw; " class="img-fluid" alt="...">
  <!-- ===============================================FIM LINHAS DECORATIVAS ===================================== -->

  <!-- ===============================================INICIO INTRODUÇÂO ===================================== -->
  <div class="resumo  col-md-12 d-flex justify-content-center ">
    <div class=" caixa col-md-9 d-flex align-items-center">
      <div class=" d-flex align-items-start flex-column " style="max-width: 70%;">
        <div class="titulo-sobre col-sm-3">
          <h1>Olá, nós somos a C2P<br /> Inovação <a
              style="color: #E55B1B;  font-family: 'DM Sans', sans-serif;">Digital</a></h1>
        </div>

        <div class="texto-sobre col-12 d-flex ">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
            of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
            leap into electronic typesetting, remaining essentially unchanged.
            It was popularised in the 7
            1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
            publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
        </div>
      </div>
      <div class=" d-flex col-sm-5 ">
        <div class="foto-sobre d-flex col-sm-10 flex-column ">
          <div id="imgSobre" class="col-sm-12 d-flex align-items-center justify-content-center">
            <img src="./css/img/imgResum.png" style="position: absolute;" class="img-fluid" alt="..." height="370px"
              width="380px">
          </div>
          <div class="verMais col-sm-12 d-flex justify-content-end">
            <a href="#">Ver Mais >></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===============================================FIM INTRODUÇÂO ===================================== -->

  <!-- ===============================================INICIO LINHAS ===================================== -->
  <img src="./css/img/linhafina.png" style="position: absolute; margin-top: 2em;" class="img-fluid" alt="...">
  <img src="./css/img/linhafina.png" style="position: absolute; margin-top: 3.5em;  width: 18vw;" class="img-fluid"
    alt="...">

  <img id="linha-comprida" src="./css/img/linha-comprida.png" style="position: absolute; height: 1.5px; width: 100%;"
    class="img-fluid" alt="...">
  <!-- ===============================================FIM LINHAS ===================================== -->

  <!-- ===============================================INICIO SOLUÇÂO ===================================== -->
  <div class="solucao d-flex justify-content-center">
    <h3>Soluções</h3>
  </div>

  <div class=" d-flex justify-content-center ex">
    <ul style="display: inline-flex; text-decoration: none;">
      <li><img src="./css/img/code.png" style=" height:7.36vh; width: 3.36vw;" class="img-fluid" alt="...">
        <p class="col-sm-5"> Criação
          de sites</p>
      </li>
      <li><img src="./css/img/figma.png" style=" height:7.36vh; width:  3.36vw; " class="img-fluid" alt="...">
        <p class="col-sm-5"> UI
          Designer</p>
      </li>
      <li><img src="./css/img/smartphone.png" style=" height: 7.36vh; width:  3.36vw; " class="img-fluid" alt="...">
        <p class="col-sm-5"> Sites
          responsivos</p>
      </li>
    </ul>
  </div>
  <!-- ===============================================FIM SOLUÇÂO ===================================== -->

  <img src="./css/img/linha-comprida.png" style=" height: 1.5px; width: 100%; margin-top: 3em;" class="img-fluid"
    alt="..." />

  <div class="parceiros d-flex justify-content-center">
    <h3>Parceiros</h3>
  </div>

  <img src="./css/img/linha-star.png" class="img-fluid" alt="..." />
  <img src="./css/img/linhafina.png" style=" margin-top: 3em; float: right; width: 40vw; " class="img-fluid" alt="...">

  <div class=" row d-flex justify-content-center col-md-12">
    <div class="carousel d-flex justify-content-center" style="margin-top: 1.5em;">
      <div class="img-carousel  ">
        <h4>AWS</h4>
        <img src="./css/img/awsLogo.png" class="img-fluid" alt="..." />
      </div>
      <div class="img-carousel" ">
        <h4>Microsoft</h4>

        <img src=" ./css/img/Microsoft-Logo.png" class="img-fluid" alt="..." />
    </div>
    <div class="img-carousel" ">
        <h4>AWS</h4>

        <img src=" ./css/img/awsLogo.png" class="img-fluid" alt="..." />
  </div>
  <div class="img-carousel" ">
        <h4>Microsoft</h4>

        <img src=" ./css/img/Microsoft-Logo.png" class="img-fluid" alt="..." />
  </div>
  <div class="img-carousel" style="margin: 1.8em;">
    <h4>AWS</h4>
    <img src="./css/img/awsLogo.png" class="img-fluid" alt="..." />
  </div>
  </div>

  </div>
  <img src="./css/img/linha-comprida.png" style=" height: 1.5px; width: 60%; margin-top: 3em;" class="img-fluid"
    alt="..." />
  <img src="./css/img/linha-star-grande.png" style="float: right; margin-top: 4em;" class="img-fluid" alt="...">


  <div class="sobreNos d-flex justify-content-center col-md-12">
    <h2>Saiba mais sobre nossos serviços e
      soluções</h2>
  </div>



  <div class="botao-fale d-flex justify-content-center">
    <a href="../FaleConosco/index.html">Fale Conosco</a>
  </div>

  <!-- Footer -->
  <footer class="page-footer font-small my-footer col-md-12">

    <!-- Footer Links -->


    <!-- Grid row -->
    <div class=" row " style=" height: 5vh;">

      <!-- Grid column -->
      <div class=" col-md-3 mx-auto ">
        <ul class="list-unstyled d-flex flex-row links d-flex justify-content-center">
          <li class="col-md-5">
            <a href="../SobreNos/index.html">Quem somos</a>
          </li>
          <li class="col-md-6">
            <a href="../CasesSucesso/index.html">Cases de sucesso</a>
          </li>
          <li class="col-md-5">
            <a href="../solucao/index.html">Soluções</a>
          </li>
          <li class="col-md-5">
            <a href="../FaleConosco/index.html">Fale Conosco</a>
          </li>
        </ul>

      </div>
      <img src="./css/img/icon-whats-branco.png" alt="icone do whatsap" style="float: right; margin: 1em;"
        height="35vh">

    </div>

    <!-- Grid column -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2022 Copyright:
      <a href="#"> C2P.com</a>

      <!-- Copyright -->
    </div>

  </footer>
  <!-- Footer -->
</body>


<script src="../../js/jquery-1.9.1.js" type="text/javascript">
</script>
<script src="../../js/slick.js" type="text/javascript">
</script>
<script type="text/javascript">
  $(document).ready(function () {



    $('.carousel').slick({
      centerMode: true,
      centerPadding: '60px',
      slidesToShow: 3,
      responsive: [
        {
          breakpoint: 768,
          settings: {
            arrows: false,
            centerMode: true,
            centerPadding: '40px',
            slidesToShow: 3
          }
        },
        {
          breakpoint: 480,
          settings: {
            arrows: false,
            centerMode: true,
            centerPadding: '40px',
            slidesToShow: 1
          }
        }
      ],
      slidesToShow: 3,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 2000,
    });
  })
</script>


</html>