<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

  <link href="css/style.css" rel="stylesheet">

  <style>
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
  </style>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
  </style>
  <link rel="icon" type="imagem/png" href="./css/img/C2P-Logo-PNG.png" />
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;500&family=Roboto:wght@500&display=swap');
  </style>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>


  <link rel="stylesheet" type="text/css" href="slick/slick.css" />

  <link rel="stylesheet" type="text/css" href="slick/slick-theme.css" />
  <script type="text/javascript" src="../C2P Project/js/slick-adapt.js"></script>
  <title>C2P Project</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>

<!-- ===============================================INCIO NAV ===================================== -->
<nav>
  <div class="col-sm-12" style="padding-right: 0px;">
    <img id="LogoC2p" src="./css/img/C2P-Logo-PNG.png" class="img-fluid col-sm-2" alt="Logo da C2P project"
      height="220px" width="220px">
    <img id="lineOrange" src="./css/img/Line 3.png" class="img-fluid" alt="...">
    <ul class="nav justify-content-end col-sm-11">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Quem somos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cases de sucesso</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Soluções</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Fale Conosco</a>
      </li>
    </ul>
  </div>
</nav>

<!-- ===============================================FIM NAV ===================================== -->

<body>
  <div class="titulo-quemSomos d-flex justify-content-center" style=" margin-bottom: 1em;">
    <h3>Quem Somos</h3>
  </div>
  <!-- ===============================================INICIO INTRODUÇÂO ===================================== -->
  <div class="resumo  col-md-12 d-flex justify-content-center ">
    <div class=" caixa col-md-9 d-flex align-items-center">
      <div class=" d-flex align-items-start flex-column " style="max-width: 70%;">
        <img src="./css/img/linhafina.png" style="position: absolute; margin-top: 2em;" class="img-fluid" alt="...">
        <img src="./css/img/linhafina.png" style=" margin-top: 3em; float: right; width: 14vw; " class="img-fluid"
          alt="...">


        <div class="texto-sobre col-12 d-flex " style="margin-top: 2em;">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
            of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
            leap into electronic typesetting, remaining essentially unchanged.
            It was popularised in the 7
            1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
            publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
        </div>
        <img src="./css/img/linhafina.png" style="position: absolute; margin-top: 21em;" class="img-fluid" alt="...">
        <img src="./css/img/linhafina.png" style=" margin-top: 3em; margin-bottom: 1.8em; float: right; width: 14vw; "
          class="img-fluid" alt="...">
      </div>

      <div class=" d-flex col-sm-5 ">
        <div class="foto-sobre d-flex  flex-column ">
          <div id="imgSobre" class="col-sm-12 d-flex align-items-center justify-content-center">
            <img src="../SobreNos/css/img/imgQuemSOmos.png" style="float: right; width: 26vw;" alt="">
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- ===============================================FIM INTRODUÇÂO ===================================== -->
  <div class="tituloHistoria d-flex justify-content-center">
    <h3>Nossa Historia</h3>
  </div>
  <div class="linhaDoTempo d-flex justify-content-center">
    <img src="../SobreNos/css/img/Line-vertical.png" style="margin-top: 1.5em;" alt="">
  </div>
  <div class="tituloHistoria d-flex justify-content-center">
    <h3>2019</h3>
  </div>
  <div class="tituloHistoria d-flex justify-content-center">
    <img src="../SobreNos/css/img/estrelinhas.png" style="margin-top: 0.5em;" alt="">

  </div>
  <div class="tituloHistoria d-flex justify-content-center">
    <p class="col-sm-3" style="margin-top: 1.5em;">Lorem Ipsum is simply dummy text of the printing and typesetting
      industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
      took a galley
      of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
      into electronic typesetting, remaining essentially unchanged.
      It was popularised</p>
  </div>
  <div class="tituloHistoria d-flex justify-content-center">
    <img src="../SobreNos/css/img/estrelinhas.png" style="margin-top: 0.5em;" alt="">

  </div>
  <div class="linhaDoTempo d-flex justify-content-center">
    <img src="../SobreNos/css/img/Line-vertical.png" style="margin-top: 1.5em;" alt="">
  </div>
  <div class="tituloHistoria d-flex justify-content-center">
    <h3>2020</h3>
  </div>
  <div class="tituloHistoria d-flex justify-content-center">
    <img src="../SobreNos/css/img/estrelinhas.png" style="margin-top: 0.5em;" alt="">

  </div>
  <div class="tituloHistoria d-flex justify-content-center">
    <p class="col-sm-3" style="margin-top: 1.5em;">Lorem Ipsum is simply dummy text of the printing and typesetting
      industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
      took a galley
      of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
      into electronic typesetting, remaining essentially unchanged.
      It was popularised</p>
  </div>
  <div class="tituloHistoria d-flex justify-content-center">
    <img src="../SobreNos/css/img/estrelinhas.png" style="margin-top: 0.5em;" alt="">

  </div>
  <div class="linhaDoTempo d-flex justify-content-center">
    <img src="../SobreNos/css/img/Line-vertical.png" style="margin-top: 1.5em;" alt="">
  </div>
  <div class="tituloHistoria d-flex justify-content-center">
    <h3>2021</h3>
  </div>
  <div class="tituloHistoria d-flex justify-content-center">
    <img src="../SobreNos/css/img/estrelinhas.png" style="margin-top: 0.5em;" alt="">

  </div>
  <div class="tituloHistoria d-flex justify-content-center">
    <p class="col-sm-3" style="margin-top: 1.5em;">Lorem Ipsum is simply dummy text of the printing and typesetting
      industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
      took a galley
      of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
      into electronic typesetting, remaining essentially unchanged.
      It was popularised</p>
  </div>
  <div class="tituloHistoria d-flex justify-content-center">
    <img src="../SobreNos/css/img/estrelinhas.png" style="margin-top: 0.5em;" alt="">

  </div>

  <div class="linhas3 d-flex justify-content-center">
    <img src="./css/img/linhafina.png" style=" width: 75%; height: 1px; margin-top: 4em;" class="img-fluid" alt="...">
  </div>
  <div class="linhas3 d-flex justify-content-center">
    <img src="./css/img/linhafina.png" style=" width: 55%; height: 1px; margin-top: 2em;" class="img-fluid" alt="...">
  </div>
  <div class="linhas3 d-flex justify-content-center">
    <img src="./css/img/linhafina.png" style=" width: 35%; height: 1px; margin-top: 2em;" class="img-fluid" alt="...">
  </div>

  <div class="jornal">

    <div class="textoJornal d-flex justify-content-center" style="margin-top: 4em;">
      <div class=" caixa col-md-9 d-flex align-items-center">
        <div class=" d-flex align-items-start flex-column " style="max-width: 70%;">
          <div class="texto-sobre col-12 d-flex justify-content-end" >
            <img src="./css/img/imgJornal.png" style=" width: 85%;  " class="img-fluid" alt="...">
          </div>
        </div>
        <div class=" d-flex col-sm-5 ">
          <div class="foto-sobre d-flex  flex-column ">
            <h3>Nossa <strong style="color: #E55B1B;">MISSÃO</strong></h3>
            <div id="imgSobre" class=" d-flex align-items-center justify-content-center" style=" text-align: inherit;">
              <p style="font-size: 0.8em;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                the
                leap into electronic typesetting, remaining essentially unchanged.
                It was popularised in the 7
                1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                desktop
                publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
            </div>
            <button id="button-lermais">Ler Mais</button>
          </div>
        </div>


      </div>
    </div>



    <!-- Fdiooter -->
    <footer class="page-footer font-small my-footer col-md-12">

      <!-- Footer Links -->


      <!-- Grid row -->
      <div class=" row " style=" height: 5vh;">

        <!-- Grid column -->
        <div class=" col-md-3 mx-auto ">
          <ul class="list-unstyled d-flex flex-row links d-flex justify-content-center">
            <li class="col-md-5">
              <a href="#!">Quem somos</a>
            </li>
            <li class="col-md-6">
              <a href="#!">Cases de sucesso</a>
            </li>
            <li class="col-md-5">
              <a href="#!">Soluções</a>
            </li>
            <li class="col-md-5">
              <a href="#!">Fale Conosco</a>
            </li>
          </ul>

        </div>
        <img src="./css/img/icon-whats-branco.png" alt="icone do whatsap" style="float: right; margin: 1em;"
          height="35vh">

      </div>

      <!-- Grid column -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2022 Copyright:
        <a href="#"> C2P.com</a>

        <!-- Copyright -->
      </div>

    </footer>
    <!-- Footer -->
</body>

</html>