<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

  <link href="css/style.css" rel="stylesheet">

  <style>
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
  </style>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
  </style>
  <link rel="icon" type="imagem/png" href="./css/img/C2P-Logo-PNG.png" />
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;500&family=Roboto:wght@500&display=swap');
  </style>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet" href="../../assets/owlcarousel/dist/assets/owl.carousel.css">

  <link rel="stylesheet" href="../../assets/owlcarousel/dist/assets/owl.theme.default.min.css">
  <link rel="stylesheet" type="text/css" href="slick/slick.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

  <link rel="stylesheet" type="text/css" href="slick/slick-theme.css" />
  <script type="text/javascript" src="../C2P Project/js/slick-adapt.js"></script>
  <title>C2P Project</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>

<!-- ===============================================INCIO NAV ===================================== -->
<nav>
  <div class="col-sm-12" style="padding-right: 0px;">
    <a style="width: 100%; height: 100%;" href="../Home/index.html"><img  id="LogoC2p" src="./css/img/C2P-Logo-PNG.png" class="img-fluid animate__animated animate__backInUp col-sm-2"
        alt="Logo da C2P project" height="220px" width="220px"></a>
    <img id="lineOrange" src="./css/img/Line 3.png" class="img-fluid animate__animated animate__backInRight" alt="...">
    <ul class="nav justify-content-end col-sm-11 animate__animated animate__fadeInUp">
      <li class="nav-item">
        <a id="bonitin" class="nav-link active" aria-current="page" href="../Home/index.html">Home</a>
      </li>
      <li class="nav-item">
        <a id="bonitin" class="nav-link active" aria-current="page" href="../SobreNos/index.html">Quem somos</a>
      </li>
      <li class="nav-item">
        <a id="bonitin" class="nav-link" href="../CasesSucesso/index.html">Cases de sucesso</a>
      </li>
      <li class="nav-item">
        <a id="bonitin" class="nav-link" href="../solucao/index.html">Soluções</a>
      </li>
      <li class="nav-item">
        <a id="bonitin" class="nav-link" href="../FaleConosco/index.html">Fale Conosco</a>
      </li>
    </ul>
  </div>
</nav>

<!-- ===============================================FIM NAV ===================================== -->

<body>
  <div class="titulo-quemSomos d-flex justify-content-center" style=" margin-bottom: 1em;">
    <h3>Quem Somos</h3>
  </div>
  <!-- ===============================================INICIO INTRODUÇÂO ===================================== -->
  <div class="resumo  col-md-12 d-flex justify-content-center ">
    <div class=" caixa col-md-9 d-flex align-items-center">
      <div class=" d-flex align-items-start flex-column " style="max-width: 70%;">
        <img src="./css/img/linhafina.png" style="position: absolute; margin-top: 2em;" class="img-fluid animate__animated animate__backInLeft" alt="...">
        <img src="./css/img/linhafina.png" style=" margin-top: 3em; float: right; width: 14vw; " class="img-fluid animate__animated animate__backInLeft"
          alt="...">


        <div class="texto-sobre col-12 d-flex animate__animated animate__fadeIn" style="margin-top: 2em;">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
            of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
            leap into electronic typesetting, remaining essentially unchanged.
            It was popularised in the 7
            1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
            publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
        </div>
        <img src="./css/img/linhafina.png" style="position: absolute; margin-top: 21em;" class="img-fluid animate__animated animate__backInLeft" alt="...">
        <img src="./css/img/linhafina.png" style=" margin-top: 3em; margin-bottom: 1.8em; float: right; width: 14vw; "
          class="img-fluid animate__animated animate__backInLeft" alt="...">
      </div>

      <div class=" d-flex col-sm-5 ">
        <div class="foto-sobre d-flex  flex-column ">
          <div id="imgSobre" class="col-sm-12 d-flex align-items-center justify-content-center animate__animated animate__fadeInUpBig">
            <img src="../SobreNos/css/img/imgQuemSOmos.png" style="float: right; width: 26vw;" alt="">
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- ===============================================FIM INTRODUÇÂO ===================================== -->
  <div class="tituloHistoria d-flex justify-content-center">
    <h3>Nossa Historia</h3>
  </div>
  <div class="linhaDoTempo d-flex justify-content-center">
    <img src="../SobreNos/css/img/Line-vertical.png" style="margin-top: 1.5em;" alt="">
  </div>
  <div class="item">
    <div class="tituloHistoria d-flex justify-content-center">
      <h3>2019</h3>
    </div>
    <div class="tituloHistoria d-flex justify-content-center">
      <img src="../SobreNos/css/img/estrelinhas.png" style="margin-top: 0.5em;" alt="">

    </div>
    <div class="tituloHistoria d-flex justify-content-center">
      <p class="col-sm-3" style="margin-top: 1.5em;">Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
        took a galley
        of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
        leap
        into electronic typesetting, remaining essentially unchanged.
        It was popularised</p>
    </div>
    <div class="tituloHistoria d-flex justify-content-center">
      <img src="../SobreNos/css/img/estrelinhas.png" style="margin-top: 0.5em;" alt="">

    </div>
  </div>
  <div class="item2">


    <div class="linhaDoTempo d-flex justify-content-center">
      <img src="../SobreNos/css/img/Line-vertical.png" style="margin-top: 1.5em;" alt="">
    </div>
    <div class="tituloHistoria d-flex justify-content-center">
      <h3>2020</h3>
    </div>
    <div class="tituloHistoria d-flex justify-content-center">
      <img src="../SobreNos/css/img/estrelinhas.png" style="margin-top: 0.5em;" alt="">

    </div>
    <div class="tituloHistoria d-flex justify-content-center">
      <p class="col-sm-3" style="margin-top: 1.5em;">Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
        took a galley
        of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
        leap
        into electronic typesetting, remaining essentially unchanged.
        It was popularised</p>
    </div>
    <div class="tituloHistoria d-flex justify-content-center">
      <img src="../SobreNos/css/img/estrelinhas.png" style="margin-top: 0.5em;" alt="">

    </div>
  </div>
  <div class="item3">

  
  <div class="linhaDoTempo d-flex justify-content-center">
    <img src="../SobreNos/css/img/Line-vertical.png" style="margin-top: 1.5em;" alt="">
  </div>
  <div class="tituloHistoria d-flex justify-content-center">
    <h3>2021</h3>
  </div>
  <div class="tituloHistoria d-flex justify-content-center">
    <img src="../SobreNos/css/img/estrelinhas.png" style="margin-top: 0.5em;" alt="">

  </div>
  <div class="tituloHistoria d-flex justify-content-center">
    <p class="col-sm-3" style="margin-top: 1.5em;">Lorem Ipsum is simply dummy text of the printing and typesetting
      industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
      took a galley
      of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
      into electronic typesetting, remaining essentially unchanged.
      It was popularised</p>
  </div>
  <div class="tituloHistoria d-flex justify-content-center">
    <img src="../SobreNos/css/img/estrelinhas.png" style="margin-top: 0.5em;" alt="">

  </div>
</div>

  <div class="linhas3 d-flex justify-content-center">
    <img src="./css/img/linhafina.png" style=" width: 75%; height: 1px; margin-top: 4em;" class="img-fluid" alt="...">
  </div>
  <div class="linhas3 d-flex justify-content-center">
    <img src="./css/img/linhafina.png" style=" width: 55%; height: 1px; margin-top: 2em;" class="img-fluid" alt="...">
  </div>
  <div class="linhas3 d-flex justify-content-center">
    <img src="./css/img/linhafina.png" style=" width: 35%; height: 1px; margin-top: 2em;" class="img-fluid" alt="...">
  </div>

  <div class="jornal owl-carousel owl-theme">
    <div class="textoJornal d-flex justify-content-center " style="margin-top: 4em;">
      <div class=" caixa col-md-6 d-flex align-items-center ">
        <div class=" d-flex align-items-start flex-column " style="max-width: 70%;">
          <div class="item texto-sobre col-12 d-flex justify-content-end">
            <img src="./css/img/imgJornal.png" style=" width: 85%;  " class="img-fluid" alt="...">
          </div>
        </div>
        <div class=" d-flex col-sm-5 ">
          <div class="foto-sobre d-flex  flex-column ">
            <h3>Nossa <strong class="item" style="color: #E55B1B;">MISSÃO</strong></h3>
            <div id="imgSobre" class=" d-flex align-items-center justify-content-center" style=" text-align: inherit;">
              <p class="item " style="font-size: 0.8em;">Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                the
                leap into electronic typesetting, remaining essentially unchanged.
                It was popularised in the 7
                1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                desktop
                publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
            </div>
            <button id="button-lermais">Ler Mais</button>
          </div>
        </div>
      </div>
    </div>
    <div class="textoJornal d-flex justify-content-center " style="margin-top: 4em;">
      <div class=" caixa col-md-6 d-flex align-items-center ">
        <div class=" d-flex align-items-start flex-column " style="max-width: 70%;">
          <div class="item texto-sobre col-12 d-flex justify-content-end">
            <img src="./css/img/exemplo.png" style=" width: 85%;  " class="img-fluid" alt="...">
          </div>
        </div>
        <div class=" d-flex col-sm-5 ">
          <div class="foto-sobre d-flex  flex-column ">
            <h3>Nossa <strong class="item" style="color: #E55B1B;">VISÃO</strong></h3>
            <div id="imgSobre" class=" d-flex align-items-center justify-content-center" style=" text-align: inherit;">
              <p class="item" style="font-size: 0.8em;">Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                the
                leap into electronic typesetting, remaining essentially unchanged.
                It was popularised in the 7
                1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                desktop
                publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
            </div>
            <button id="button-lermais">Ler Mais</button>
          </div>
        </div>
      </div>
    </div>
    <div class="textoJornal d-flex justify-content-center " style="margin-top: 4em;">
      <div class=" caixa col-md-6 d-flex align-items-center ">
        <div class=" d-flex align-items-start flex-column " style="max-width: 70%;">
          <div class="item texto-sobre col-12 d-flex justify-content-end">
            <img src="./css/img/exemple.png" style=" width: 85%;  " class="img-fluid" alt="...">
          </div>
        </div>
        <div class=" d-flex col-sm-5 ">
          <div class="foto-sobre d-flex  flex-column ">
            <h3>>Nossos <strong class="item" style="color: #E55B1B;">VALORES</strong></h3>
            <div id="imgSobre" class=" d-flex align-items-center justify-content-center" style=" text-align: inherit;">
              <p class="item" style="font-size: 0.8em;">Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                the
                leap into electronic typesetting, remaining essentially unchanged.
                It was popularised in the 7
                1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                desktop
                publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
            </div>
            <button id="button-lermais">Ler Mais</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</body>

<!-- Fdiooter -->
<footer class="page-footer font-small my-footer col-md-12">

  <!-- Footer Links -->


  <!-- Grid row -->
  <div class=" row " style=" height: 5vh;">

    <!-- Grid column -->
    <div class=" col-md-3 mx-auto ">
      <ul class="list-unstyled d-flex flex-row links d-flex justify-content-center">
        <li class="col-md-5">
          <a href="../SobreNos/index.html">Quem somos</a>
        </li>
        <li class="col-md-6">
          <a href="../CasesSucesso/index.html">Cases de sucesso</a>
        </li>
        <li class="col-md-5">
          <a href="../solucao/index.html">Soluções</a>
        </li>
        <li class="col-md-5">
          <a href="../FaleConosco/index.html">Fale Conosco</a>
        </li>
      </ul>

    </div>
    <img src="./css/img/icon-whats-branco.png" alt="icone do whatsap" style="float: right; margin: 1em;" height="35vh">

  </div>

  <!-- Grid column -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2022 Copyright:
    <a href="#"> C2P.com</a>

    <!-- Copyright -->
  </div>

</footer>
<!-- Footer -->

<script src="../../../node_modules/jquery/dist/jquery.min.js"></script>

<script src="../../assets/owlcarousel/dist/owl.carousel.min.js"></script>

<script type="text/javascript">
  $(document).ready(function () {

    $('.owl-carousel').owlCarousel({
      loop: true,
      margin: 10,
      dots: true,
      responsiveClass: true,
      responsive: {
        0: {
          items: 4,
          nav: true,

        },
        600: {
          items: 5,
          nav: true,

        },
        1000: {
          items: 1,
          nav: true,
          loop: false,
          margin: 3

        },

      }
    })

    function boxTop(idBox) {
      var boxOffset = $(idBox).offset();
      return boxOffset.top;
    }

    $(document).scroll(function () {

      var documentTop = $(document).scrollTop();

      if (documentTop > boxTop('.item') - 500) {
        $('.item').addClass('animar');
      } else {
        $('.item').removeClass('animar');
      }

      if (documentTop > boxTop('.item2') - 360) {
        $('.item2').addClass('animar');
      } else {
        $('.item2').removeClass('animar');
      }

      if (documentTop > boxTop('.item3') - 360) {
        $('.item3').addClass('animar');
      } else {
        $('.item3').removeClass('animar');
      }


    });



    // Esse código poderia ser mais otimizado, para não precisarmos adicionar o ID da box em todas as funções. Porém criei dessa maneira para ficar mais claro.

  })
</script>

</html>