*{
    margin: 0;
    padding: 0;
    
}

nav> ul >li{
    padding-left: 3em;
   
}

li > a{
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    text-decoration: none;
    text-decoration-color: none;
    display: flex;
    margin-top: 1em;
    border-style: solid;
    border-width: 0px 0px 0.7px 0px;
    border-color: #E55B1B;
    margin: 0.5em;
}

li > a:link{
    color: #FFFFFF;
    
    
}

#lineOrange{
    float: right;
    margin-top: 1.5em;
}

nav{
    background-color: #C4C4C4;
    height: 14vh;
}

#bonitin::after, #bonitin::before {
	content: '';
	display: block;
	background: #E55B1B;
	width: 0;
	height: 2px;
	border-radius: 4px;
	color: #FFFFFF;
    margin: 3px auto 3px auto;
	transition: all .2s ease;
}

#bonitin:hover::after, #bonitin:hover::before {
	width: 100%;
}

ul li a:hover {


	color: #FFFFFF;
   
}

#LogoC2p{
margin: 1em;
position: absolute;
}



.caixa{
    background-color: #C4C4C4;
    margin-top: 5em;
    height: 60vh;
    width: 80vw;
    display: flex;

    
}

.titulo-sobre  > h1{
    color: #FFFFFF;
    font-family: 'DM Sans', sans-serif;
    font-size: 2em;
 
   
    margin-bottom: 20px;
    
}

.titulo-sobre {
    max-width: 70%;
    
}

.teste{
    display: flex;
    justify-content: center;
}

.texto-sobre{
    color: #828282;
    font-family: 'DM Sans', sans-serif;
    font-size: 0.79em;
    
    
    
}

.foto-sobre{
    background-color: rgba(229, 91, 27, .28) ;
    height: 35vh;
    width: 8vw;
    
}

.verMais > a:link{
    
        color: #E55B1B;
        text-decoration: none;
        font-family: 'DM Sans', sans-serif;
    
}

.verMais{
    margin-bottom: 0px;
}

.solucao > h3{
    font-family: 'DM Sans', sans-serif;
    color: #E55B1B;
    margin-top: 4.5em;
    margin-bottom: 2em;
}

#linha-comprida{
    margin-top: 5em;
    height: 4.4px;
}

.flip-container > li{
    background-color: #F3F3F3;
    height: 30vh;
    width: 19vw;
    list-style: none;
    margin: 1.8em;
    border-width: 0.2em;
    border-bottom-color:#E55B1B;
    border-style: solid;
    border-width: 1px 1px 6px 1px;
    border-right-color: #E55B1B;
    border-left-color: #E55B1B;
    border-top-color: #E55B1B;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.flip-container > li > p{
    color: #000000;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.3em;
    margin-top: 3.8em;
}

.ex{
    height: 30%;
}


.ex > ul {
    justify-content: space-evenly;
    display: flex;
    margin-top: 6em;
}

.backgroundImage
{
    background-image: url(../css/img/background-fundoSolucao_png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}


.parceiros > h3{
    color: #E55B1B;
    font-family: 'DM Sans', sans-serif;
    margin-top: 4em;
}

.img-carousel{
    margin:2.5em;
}

.img-carousel > h4{
    display: flex;
    justify-content: center;
}

.sobreNos{
    margin-top: 8em;
}

.sobreNos > h2{
    font-family: 'DM Sans', sans-serif;
    color: #000000;
}

.botao-fale > a{
    font-family: 'DM Sans', sans-serif;
    color: #E55B1B;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    font-size: 1.7em;
}

.my-footer{
    background-color: #E55B1B;
    color: #FFFFFF;
    font-family: 'DM Sans', sans-serif;
    margin-top: 4em;
    bottom:0;
	width:100%;
}

.my-footer > a{
    
    color: #FFFFFF;
  
}

.links-footer{
    background-color: #d0d0d094;
}


h3{
    display: flex;
    justify-content: center;
    color: #E55B1B;
    font-family: 'DM Sans', sans-serif;
    margin-top: 2em;
}

.cases {
    background-color: #DDDDDD;
    width: 100%;
    height: 90%;
    font-family: 'DM Sans', sans-serif;

}

 h5{
   color: #E55B1B;

}

.fotos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}


.cases > a{
    color: #E55B1B;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.1em;
    margin: 1em;
    float: right;
}


.foto1{
    text-align: center;
}

.Casos{
 
    
    background-repeat: no-repeat;
}

#button-Vermais{
    background-color: #E55B1B;
    width: 30%;
    border-radius: 9px 9px  9px  9px  ;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    color: #DDDDDD;
    border: none;
    outline:none;
    margin-top: 1.3em;
}

.flip-container { perspective: 1000; }  	

/* vira os containers frente e verso quando o mouse passa em cima */
.flip-container:hover .flipper, .flip-container.hover .flipper {  		
  transform: rotateY(180deg);  	
}    
.flip-container, .front, .back {  	
  width: 320px;  	
  height: 480px;  
}

/* define a velocidade da transição */
.flipper {  	
  transition: 0.6s;  	
  transform-style: preserve-3d;    	
  position: relative;  
}
    
/* esconde o verso durante a animação */
.front, .back {  	
  backface-visibility: hidden;    	
  position: absolute;  	
  top: 0;  	
 left: 0;  
}
    
/* frente posicionada sobre o verso */
.front { z-index: 2; height: 50%;  }    

/* verso inicialmente escondido */
.back { 
     transform: rotateY(180deg); 
     width: 300px;
     display: flex;
     flex-flow: column;
     align-items: center;
     height: 50%;
    }

.back > p{
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-size: 0.53em;
    width: 50%;
    margin-top: 1em;
   
}

