<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

    <link href="./css/style.css" rel="stylesheet">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
    </style>
    <link rel="icon" type="imagem/png" href="./css/img/C2P-Logo-PNG.png" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;500&family=Roboto:wght@500&display=swap');
    </style>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>


    <link rel="stylesheet" type="text/css" href="css/slick.css" />

    <link rel="stylesheet" type="text/css" href="css/slick-theme.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <title>C2P Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



</head>

<body>
    <!-- ===============================================INCIO NAV ===================================== -->
    <nav>
        <div class="col-sm-12" style="padding-right: 0px;">
            <a href="../Home/index.html"><img id="LogoC2p" src="./css/img/C2P-Logo-PNG.png" class="img-fluid col-sm-2 animate__animated animate__fadeInUp"
                    alt="Logo da C2P project" height="220px" width="220px"></a>
            <img id="lineOrange" src="./css/img/Line 3.png" class="img-fluid animate__animated animate__backInLeft" alt="...">
            <ul class="nav justify-content-end col-sm-11">
                <li class="nav-item">
                    <a id="bonitin" class="nav-link active" aria-current="page" href="../Home/index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a id="bonitin" class="nav-link active" aria-current="page" href="../SobreNos/index.html">Quem somos</a>
                </li>
                <li class="nav-item">
                    <a id="bonitin" class="nav-link" href="../CasesSucesso/index.html">Cases de sucesso</a>
                </li>
                <li class="nav-item">
                    <a id="bonitin" class="nav-link" href="../solucao/index.html">Soluções</a>
                </li>
                <li class="nav-item">
                    <a id="bonitin" class="nav-link" href="../FaleConosco/index.html">Fale Conosco</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- ===============================================FIM NAV ===================================== -->

    <img src="./css/img/linhafina.png" style="position: absolute; margin-top: 2em;" class="img-fluid animate__animated animate__backInLeft" alt="...">

    <h3>Cases</h3>
    <div class="cases animate__animated animate__bounceInRight">
        <div class="linhadentro col-12 d-flex justify-content-end" style=" padding-right: 0px;">
            <img src="./css/img/linhafina.png" style=" height: 1px; width: 50%; float: right; margin-top: 2em;"
                class="img-fluid animate__animated animate__backInRight" alt="...">
        </div>

        <div class="fotos ">
            <div class="d-flex justify-content-center col-md-12 flex-column foto1">
                <h5 style="margin-top: 1em; ">Travel Chihiro Project</h5>
                <div class="d-flex justify-content-center">
                    <img src="./css/img/exemploCase.png" alt="" width="55%">
                </div>
            </div>
            <div class="d-flex justify-content-center col-md-12 flex-column foto1">
                <h5 style="margin-top: 1em; ">Travel Chihiro Project</h5>
                <div class="d-flex justify-content-center">
                    <img src="./css/img/exemploCase.png" alt="" width="55%">
                </div>
            </div>
            <div class="d-flex justify-content-center col-md-12 flex-column foto1">
                <h5 style="margin-top: 1em; ">Travel Chihiro Project</h5>
                <div class="d-flex justify-content-center">
                    <img src="./css/img/exemploCase.png" alt="" width="55%">
                </div>
            </div>
            <div class="d-flex justify-content-center col-md-12 flex-column foto1">
                <h5 style="margin-top: 1em; ">Travel Chihiro Project</h5>
                <div class="d-flex justify-content-center">
                    <img src="./css/img/exemploCase.png" alt="" width="55%">
                </div>
            </div>
        </div>
        <div class="verMais d-flex justify-content-end">

            <a style="margin-right: 4em; " href="#"> Ver mais >></a>
        </div>
    </div>
    <img src="./css/img/linhafina.png" style=" width: 100%; height: 1px; " class="img-fluid" alt="...">

    <div class="backgroundImage d-flex justify-content-center ml-10">
        <div class="Casos" style="height: 850px;">
            <div class=" d-flex justify-content-center ex">
                <ul style="display: inline-flex; text-decoration: none; " >
                    <div class="flip-container " ontouchstart="this.classList.toggle('hover');">
                        <li class="flipper">
                            <div class="front">  			
                                <!-- Conteúdo da frente -->  
                                <img src="./css/img/tecnobank-logo.png" style=" margin-top: 18%;" class="img-fluid" alt="...">		
                            </div>  	 
                            <div class="back"> 
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry. Lorem Ipsum has been the
                                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                                    of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                                    leap into electronic typesetting, remaining essentially unchanged.
                                   </p>	 			
                                <!-- Conteúdo do verso -->  		
                                <form class="d-flex justify-content-center" style="width: 100%; "
                                action="../VerMaisCase/index.html"><button id="button-Vermais">Ver Mais</button></form>
                            </div>  		
                        </li>
                    </div>
                    <div class="flip-container " ontouchstart="this.classList.toggle('hover');">
                        <li class="flipper">
                            <div class="front">  			
                                <!-- Conteúdo da frente -->  
                                <img src="./css/img/tecnobank-logo.png" style=" margin-top: 18%;"  class="img-fluid" alt="...">		
                            </div>  	 
                            <div class="back"> 
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry. Lorem Ipsum has been the
                                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                                    of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                                    leap into electronic typesetting, remaining essentially unchanged.
                                   </p>	 			
                                <!-- Conteúdo do verso -->  		
                                <form class="d-flex justify-content-center" style="width: 100%;"
                                action="../VerMaisCase/index.html"><button id="button-Vermais">Ver Mais</button></form>
                            </div>  		
                        </li>
                    </div>
                    <div class="flip-container " ontouchstart="this.classList.toggle('hover');">
                        <li class="flipper">
                            <div class="front">  			
                                <!-- Conteúdo da frente -->  
                                <img src="./css/img/tecnobank-logo.png" style=" margin-top: 18%;"  class="img-fluid" alt="...">		
                            </div>  	 
                            <div class="back">  
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry. Lorem Ipsum has been the
                                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                                    of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                                    leap into electronic typesetting, remaining essentially unchanged.
                                   </p>				
                                <!-- Conteúdo do verso -->  		
                                <form class="d-flex justify-content-center" style="width: 100%;"
                                action="../VerMaisCase/index.html"><button id="button-Vermais">Ver Mais</button></form>
                            </div>  		
                        </li>
                    </div>
                </ul>
            </div>
            <div class=" d-flex justify-content-center ex">
                <ul style="display: inline-flex; text-decoration: none;">
                    <div class="flip-container " ontouchstart="this.classList.toggle('hover');">
                        <li class="flipper">
                            <div class="front">  			
                                <!-- Conteúdo da frente -->  
                                <img src="./css/img/tecnobank-logo.png" style=" margin-top: 18%;"  class="img-fluid" alt="...">		
                            </div>  	 
                            <div class="back"> 
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry. Lorem Ipsum has been the
                                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                                    of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                                    leap into electronic typesetting, remaining essentially unchanged.
                                   </p>	 			
                                <!-- Conteúdo do verso -->  		
                                <form class="d-flex justify-content-center" style="width: 100%;"
                                action="../VerMaisCase/index.html"><button id="button-Vermais">Ver Mais</button></form>
                            </div>  		
                        </li>
                    </div>
                    <div class="flip-container " ontouchstart="this.classList.toggle('hover');">
                        <li class="flipper">
                            <div class="front">  			
                                <!-- Conteúdo da frente -->  
                                <img src="./css/img/tecnobank-logo.png" style=" margin-top: 18%;"style=" margin-top: 18%;"  class="img-fluid" alt="...">		
                            </div>  	 
                            <div class="back">  			
                                <!-- Conteúdo do verso --> 
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry. Lorem Ipsum has been the
                                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                                    of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                                    leap into electronic typesetting, remaining essentially unchanged.
                                   </p>	 		
                                <form class="d-flex justify-content-center" style="width: 100%;"
                                action="../VerMaisCase/index.html"><button id="button-Vermais">Ver Mais</button></form>
                            </div>  		
                        </li>
                    </div>
                    <div class="flip-container " ontouchstart="this.classList.toggle('hover');">
                        <li class="flipper">
                            <div class="front">  			
                                <!-- Conteúdo da frente -->  
                                <img src="./css/img/tecnobank-logo.png"  style=" margin-top: 18%;" class="img-fluid" alt="...">		
                            </div>  	 
                            <div class="back">  			
                                <!-- Conteúdo do verso -->  
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry. Lorem Ipsum has been the
                                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                                    of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                                    leap into electronic typesetting, remaining essentially unchanged.
                                   </p>		
                                <form class="d-flex justify-content-center" style="width: 100%;"
                                action="../VerMaisCase/index.html"><button id="button-Vermais">Ver Mais</button></form>
                            </div>  		
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="page-footer font-small my-footer col-md-12">

        <!-- Footer Links -->


        <!-- Grid row -->
        <div class=" row " style=" height: 5vh;">

            <!-- Grid column -->
            <div class=" col-md-3 mx-auto ">
                <ul class="list-unstyled d-flex flex-row links d-flex justify-content-center">
                    <li class="col-md-5">
                        <a href="../SobreNos/index.html">Quem somos</a>
                    </li>
                    <li class="col-md-6">
                        <a href="../CasesSucesso/index.html">Cases de sucesso</a>
                    </li>
                    <li class="col-md-5">
                        <a href="../solucao/index.html">Soluções</a>
                    </li>
                    <li class="col-md-5">
                        <a href="../FaleConosco/index.html">Fale Conosco</a>
                    </li>
                </ul>

            </div>
            <img src="./css/img/icon-whats-branco.png" alt="icone do whatsap" style="float: right; margin: 1em;"
                height="35vh">

        </div>

        <!-- Grid column -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2022 Copyright:
            <a href="#"> C2P.com</a>

            <!-- Copyright -->
        </div>

    </footer>
    <!-- Footer -->
</body>
<script src="../../js/jquery-1.9.1.js" type="text/javascript">
</script>
<script src="../../js/slick.js" type="text/javascript"></script>
<script type="text/javascript">$('.fotos').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
    });</script>

</html>